/* body {
  background-color: slategrey;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.title-text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
.white{
  color: white;
} 
.title-padding{
  padding-left: 20px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.table-compress{
  display: inline-table;
  width: 74%;
}
.side-bar{
  display: inline-block;
  padding: 12px;
  width: 24%;
}

.table-button{
  width: calc(100% - 10px);
  margin: 4px;
}
.v-bar{
  display: inline-block;
  width: 2%;
}

.side-bar-info{
  display: inline-block;
  width: 80%;
}
.x-button{
  vertical-align: top;
  display: inline-block;
  width: 20%;
}

